.scroll_To_Top {
    width: 150px;
    height: 100px;
    color: black;
    text-decoration: none;
    position: fixed;
    padding: 10px;
    text-align: center;
    background: white;
    font-weight: bold;
    top: 100px;
    right: 50px;
    display: none;
}

.scroll_To_Top:hover {
    text-decoration:none;
    color:green;
}