<!DOCTYPE html>
<html ng-app="moviesApp">
<head>
    <meta charset="UTF-8">
    <title>CineApp</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="../js/angular.min.js"></script>
    <script src="../js/load.js"></script>
</head>
<body>
    <div id="contenedor" ng-controller="SearchController">
        <header>
            <img class="logo" src="../images/cineapp_logo.png">
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="search.html">Cartelera</a></li>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="about_us.html">Acerca de Nosotros</a></li>
            </ul>
        </nav>
        <section style="height: 100px;">
            <p class="introduction" style="margin-top: 27px;">Busqueda</p>
        </section>
        <section>
            <h3>Resultados encontrados: </h3>
            <input type="text" ng-model="searchMovie" placeholder="Busqueda de Pelicula"><br><br>
        </section>
        <section>
            <div class="card" ng-repeat="movie in Movies | filter:searchMovie">
                <div class="column_left_card">
                    <img class="image_movie" ng-src="{{ movie.imagen }}"/>
                </div>
                <div class="column_right_card">
                    <h3>{{ movie.titulo }}</h3>
                    <p>{{ movie.clasificacion }}</p>
                    <p style="text-align: justify;">{{ movie.descripcion }} </p>
                    <p>Tiempo: {{ movie.duracion }}</p>
                    <p>Horario: {{ movie.horario }}</p>
                    <p>Genero: {{ movie.genero }}</p>
                </div>
            </div>
        </section>
        <!--
        <footer>
            <p>Todos los derechos reservados CineApp 2019</p>
        </footer> -->
    </div>
</body>
</html>